/*NOSOTROS*/

/*OPEN MAIN*/

.main-container{
	height: 80vh;
	display: flex;
	justify-content: center;
}

.img-container{
	width: 89%;
	display: grid;
	grid-template-columns: 3.6fr repeat( 2, 1fr);
	grid-template-rows: repeat(2, 50%);
	box-sizing: border-box;
	place-items: center;
}

.img-small{
	display:flex; 
	font-size: 13px; 
	justify-content: center;
}

.img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.img:nth-child(1){
	width: 100%;
	grid-row: span 2;
	display: flex;
	place-items: center;
	will-change: auto;
}

.img img{
	width: 100%;
	height: 100%;
	transition: .5s;
	object-fit: cover;
	place-items: center;
}

.img img:nth-child(1){
	height: 110%;
}

.img img:hover{
	transform: scale(1.2);
}

.img p{
	position: relative;
	z-index: 100;
	font-family: 'Lucida Bright', serif;
	font-size: 680px;
	font-family: 'Libre Baskerville', serif;
	padding-top: 55px;
	margin-left: -110%;
	color: rgba(205, 205, 205, .3);
	overflow: hidden;
}

.img h1{
	text-align: center;
	font-family: 'Lucida Bright', serif;
	z-index: 100;
	position: absolute;
	color: rgba(0, 0, 0, .7) !important;
	width: 15vw;
	margin-left: 70px;
	padding-top: 5vh;
	font-size: 1.7rem;
}


@media screen and (max-width: 912px){
	.main-container{
		height: auto;
	}

	.img-container{
		width: 100%;
		padding: 20px;
		grid-template-rows: .70fr repeat( 2, .65fr);
		grid-template-columns: repeat(2, .8fr);
	}

	.img:nth-child(1){
		height: 600px;
		grid-row: 1/2;
		grid-column: 1/3;
		left: 20px;
		align-items: center;
	}

	.img p{
		margin-top: 0;
		font-size: 600px;
		margin-left: -110%;
	}

	.img h1{
		padding-top: 150px;
		margin-left: 110px;
	}

}

@media screen and (max-width: 735px){
	.img-container{
		grid-template-rows: .70fr repeat( 2, .65fr);
		grid-template-columns: repeat(2, 1fr);
	}

	.img:nth-child(1){
		height: 550px;
	}

	.img p{
		font-size: 550px;
		margin-left: -115%;
	}

	.img h1{
		width: 20vw;
		padding-top: 80px;
		margin-left: 60px;
		color: #000;
		text-shadow: 2px 2px 2px #fff;
	}

}

/*CLOSE MAIN*/

/*OPEN DIV 2*/
.section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	padding: 20px 0;
}

.section-separator{
	height: 15vh;
	width: 89%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Lucida Bright', serif;
}
.section-separator h3{
	width: 100%;
}
.section-separator p{
	font-size: 17px;
}


/*OPEN NUESTRO EQUIPO*/
.informationimg{
	width: 89%;
	padding: 20px;
	align-content: center;
	align-items: center;
	display: flex;
	gap: 20px;
}

/*OPEN CARDS HOVER SECTION*/
.card{
	margin: 6px auto;
    width:300px;
    height:400px;
    border-radius:30px;
    overflow:hidden;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:all .25s ease;
    backface-visibility:hidden;
}

.card:hover{
    transform:scale(.9);
}
.card:hover:after{
    height:280px;
}
.card:hover .con-text p{
    margin-bottom:0px;
    opacity:1;
}
.card:hover img{
    transform:scale(1);
}
.card:hover .ul{
    transform:translate(0);
    opacity:1;
}
.card:after{
    width:100%;
    content:"";
    left:0px;
    bottom:0px;
    height:150px;
    position:absolute;
    background:linear-gradient(188deg,
    	rgba(0,0,0,0.10)0%,
    	rgba(0,0,0,0.6) 100%);
    z-index:20;
    transition:all .25s ease;
}
.card img{
    height:150%;

    z-index:10;
    transition:all .25s ease;
}
.card .con-text{
	font-family: 'Lucida Bright', serif;
    z-index:30;
    position:absolute;
    bottom:0px;
    color:#fff;
    padding:20px;
    padding-bottom:30px;
    text-shadow: -2px -2px 2px rgba(5,5,5,0.20);
}
.card .con-text p{
    font-size:.8rem;
    opacity:0;
    margin-bottom:-170px;
    transition:all .25s ease;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    flex-direction:column;
}
.card .con-text p button{
    padding:7px 17px;
    border-radius:12px;
    background:transparent;
    margin-top:10px;
    margin-left:auto;
    cursor:pointer;
    transition:all .25s ease;
    font-family:poppins;
    font-size:.80rem;
    outline:none;
}

.card .con-text p button a{
	color: #fff;
}
.card .con-text p button:hover{
    color:#fff;
}
.ul{
    position:absolute;
    right:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    z-index:40;
    border-radius:14px;
    padding-left:0px;
    padding-top:8px;
    padding-bottom:8px;
    top:0px;
    opacity:0;
    transform:translate(100%);
    transition:all .25s ease;
 }
.ul li{
    background:#fff;
    list-style:none;
    width:40px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:.7;
    transition:all .25s ease;
    backface-visibility:hidden;
}
.ul li:last-child{
    border-radius:0px 0px 12px 12px;
}
.ul li:first-child{
    border-radius:12px 12px 0px 0px;
}
.ul li:hover{
    opacity:1;
    transform:translate(-7px,-4px);
    border-radius:6px;
}
.ul li i{
    font-size:1.4em;
    color:#000;
}

@media screen and (max-width: 650px){
	.informationimg{
		flex-wrap: wrap;
		width: 100%;
	}	

	.card{
		height: 350px;
	}
}
/*CLOSE CARDS HOVER SECTION*/

/*CLOSE NUESTRO EQUIPO*/

/*OPEN FORM SECTION*/

.row2{
	display: flex;
	width: 89%;	
	color: #606060;
}

.row-container2{
	width: 100%;
	padding: 30px 0px 15px 0px;
}

.row-item2{
	height: 100%;
	padding: 30px 20px 15px 20px;
	transition: all 0.5s ease;
}

.input-text{
	width: 100%;
	padding: 15px;
	margin: 10px auto;
	border-radius: 10px;
	border: 1px solid #7777;
	font-size: 12px;
	border: none;
	font-family: "Lucida Bright",sans-serif;
	background:#fff;
	border-bottom: 2px solid rgba(0, 0, 0, .5);
	color: #000;
	outline: none;
}

.input-text::placeholder,
.textarea::placeholder{
	color: #808080;
}

.input-text:active{
	border: 1px solid rgba(0, 0, 0, .5);
}

.textarea{
	width: 100%;
	height: 32vh;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #7777;
	font-size: 12px;
	font-family: "Lucida Bright",sans-serif;
	overflow: auto;
	resize: none;
	border: none;
	background:#fff;
	border-bottom: 2px solid rgba(0, 0, 0, .5);
	color: #000;
	outline: none;
}

/* CLOSE FORM SECTION*/
.row-item2 button{
	text-decoration: none;
	border: none;
	width: 200px;
	height: 40px;
	border-radius: 25px;
	background-color: transparent;
}

.row-item2 button{
	border: 1px solid;
}

.row-item2 button:hover{
	color: #fff;
	background-color: #000;
	transition: .5s;
}

@media screen and (max-width: 912px){
	.section{
		height: auto;
	}

	.row2{
		flex-wrap: wrap;
	}

	.row-container2{
		width: 100%;
	}
}

@media screen and (max-width: 360px){
	.section-separator p{
		font-size: 12px;
	}
	.section-separator h3{
		font-size: 14px;
	}
	.row-item2 button{
		width: 140px;
	}

	.row-item2 button{
		font-size: 16px;
	}
}

.text-container{
	display: flex;
	height: 90vh;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.text-grid{
	width: 89%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr ;
	padding: 30px 0;
	grid-gap: 20px;
}

.text-grid-item h3{
	font-family: 'Lucida Bright', serif;
	padding-top: 20px;
}

.text-grid-item:nth-child(1){
	overflow: hidden;
}
.text-grid-item:nth-child(2){
	padding: 40px 20px;
}

.text-grid-item img{
	width: 100%;
	height: 100%;
	transition: .5s;
	object-fit: cover;
}

.text-grid-item img:hover{
	transform: scale(1.2);
}

@media screen and (max-width: 912px){
	.text-container{
		height: auto;
	}
	.text-grid{
		width: 100%;
		grid-template-rows: repeat(2, .5fr);
		grid-template-columns: 1fr ;
		padding: 30px 20px 0 20px;
		grid-gap: 0px;
	}
}

@media screen and (max-width: 360px){
	.text-grid-item p{
		font-size: 12px;
	}
	.text-grid-item h3{
		font-size: 14px;
	}
	.text-grid-item:nth-child(2){
		padding: 20px;
	}
}

/*CLOSE DIV 2*/